<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Validador de Metas</title>
      <link rel="icon" href="../../public/img/logo-icon.ico">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <script src="https://kit.fontawesome.com/a214269803.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="contenedor_carga" class="container-fluid pt-4" style="width: 95%;">
      <div class="container-fluid text-center">            
          <div class="🤚" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <div class="👉"></div>
              <div class="👉"></div>
              <div class="👉"></div>
              <div class="👉"></div>
              <div class="🌴"></div>		
              <div class="👍"></div>
          </div>
      </div>
    </div>
    <div class="container-fluid mt-5 nav_gradient">
      <nav class="navbar navbar-expand-lg bg-body-tertiary nav_gradient fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand ms-4" href="/index">
              <img src="../../../public/img/val_logo.png" alt="Logo" class="logo-img">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-4 ms-auto">                    
              <li class="nav-item">
                <a id="metas-link" class="nav-link naveg me-3" href="/nomina">Nomina</a>
              </li>
              <li class="nav-item">
                <a id="metas-link" class="nav-link naveg me-3" href="/licencias">Licencias</a>
              </li>
              <li class="nav-item">
                <a id="metas-link" class="nav-link naveg me-3" href="/metas">Metas</a>
              </li>
              <li class="nav-item">
                <a id="progresiones-link" class="nav-link naveg me-3" href="/progresiones">Progresiones</a>
              </li>
              <li class="nav-item">
                <a id="user-link" class="nav-link naveg me-3" href="/usuariosConProgresiones">Usuarios Con Progresiones</a>
              </li>
              <li class="nav-item">
                <a id="user-link" class="nav-link naveg me-3" href="/tutores">Tutores</a>
              </li>
              <li class="nav-item">
                <a id="user-link" class="nav-link naveg me-3" href="/licenciasEspeciales">Licencias Especiales</a>
              </li>
              <li class="nav-item">
                  <a id="user-link" class="nav-link naveg me-3" href="/users">Users</a>
              </li>
              <li class="nav-item">
                <a id="user-link" class="nav-link naveg me-3" href="/importar_nomina">Importar Nomina</a>
              </li>
              <li class="nav-item">
                <a id="user-link" class="nav-link naveg me-3" href="/importar_licencia">Importar Licencia</a>
              </li>
              <div class="vertical-line"></div>                    
              <li class="nav-item">
                <form action="{{ url_for('logout') }}" method="POST">
                  <button class="transparent-button" type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                </form>
              </li>                    
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="allData" class="container-fluid pt-4" style="width: 95%;">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="fixed-bottom bg-light">
        <div class="container pt-4">
            <p class="text-center">Provincia Microempresas S.A V1.1.2</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
    var contenedor = document.getElementById('contenedor_carga');
    var allData = document.getElementById('allData');

    function mostrarSpinner() {
        contenedor.style.visibility = 'visible';
        contenedor.style.opacity = '1';
        allData.style.visibility = 'hidden';
        allData.style.opacity = '0';
      }
      
      function ocultarSpinner() {
        contenedor.style.visibility = 'hidden';
        contenedor.style.opacity = '0';
        allData.style.visibility = 'visible';
        allData.style.opacity = '1';
    }

    function manejarClicEnlace(event) {
        if (event.target.tagName === "A" && event.target.getAttribute("href")) {
            mostrarSpinner();
        }
    }

    window.addEventListener("load", function () {
        ocultarSpinner();
    });

    window.addEventListener("beforeunload", mostrarSpinner);

    document.addEventListener("click", manejarClicEnlace);
});
  </script>
  </body>
</html>