{% extends 'partials/layout.html' %}

{% block body %}
<form action="{{ url_for('editar_licencia', employeeNumber=datos_licencia.employeeNumber) }}" method="POST">    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre Completo</th>
            <th>Descripcion de Licencia</th>
            <th>Inicio Licencia</th>
            <th>Fin Licencia</th>
            <th>Cantidad de dias</th>
            <th>Ajuste (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ datos_licencia.employeeNumber }}</td>
            <td> <input type="text" name="fullName" value="{{ datos_licencia.fullName }}" class="form-control" required> </td>
            <td> <input type="text" name="license" value="{{ datos_licencia.license }}" class="form-control" required> </td>           
            <td> <input type="date" name="licenseStar" value="{{ datos_licencia.licenseStar }}" class="form-control" required> </td>
            <td> <input type="date" name="licenseEnd" value="{{ datos_licencia.licenseEnd }}" class="form-control" required> </td>
            <td> <input type="text" name="licenseDays" value="{{ datos_licencia.licenseDays }}" class="form-control" required> </td>
            <td> <input type="number" name="adjustment" value="{{ datos_licencia.adjustment}}" class="form-control" required step="0.01" placeholder="Ej: 0.20"> </td>
          </tr>
        </tbody>
      </table>    
      <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
    </div>
</form>

{% endblock %}
