{% extends 'partials/layout.html' %}
{% block body %}

<h2>Editar Progresion</h2>
<br>
<form action="{{ url_for('editar_progresion', categoria=datos_progresion.category) }}" method="POST">    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Mes 1</th>
            <th>Mes 2</th>
            <th>Mes 3</th>
            <th>Mes 4</th>
            <th>Mes 5</th>
            <th>Mes 6</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ datos_progresion.category }}</td>
            <td> <input type="number" name="month_1" value="{{ datos_progresion.month_1 }}" class="form-control" required step="0.01"> </td>
            <td> <input type="number" name="month_2" value="{{ datos_progresion.month_2 }}" class="form-control" required step="0.01"> </td>
            <td> <input type="number" name="month_3" value="{{ datos_progresion.month_3 }}" class="form-control" required step="0.01"> </td>
            <td> <input type="number" name="month_4" value="{{ datos_progresion.month_4 }}" class="form-control" required step="0.01"> </td>
            <td> <input type="number" name="month_5" value="{{ datos_progresion.month_5 }}" class="form-control" required step="0.01"> </td>
            <td> <input type="number" name="month_6" value="{{ datos_progresion.month_6 }}" class="form-control" required step="0.01"> </td>
          </tr>
        </tbody>
      </table>    
      <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
    </div>
</form>

{% endblock %}
