{% extends 'partials/layout.html' %}
{% block body %}

<h2>Editar Tutor</h2>
<br>
<form action="{{ url_for('editar_tutores', legajo=datos_tutores.employeeNumber) }}" method="POST">    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre EC</th>
            <th>categoria</th>
            <th>Mes Inicio Tutoria</th>
            <th>Mes Fin Tutoria</th>
            <th>Ajuste</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ datos_tutores.employeeNumber }}</td>
            <td> <input type="text" name="fullName" value="{{ datos_tutores.fullName }}" class="form-control" required> </td>
            <td>
              <select name="category" class="form-control"required>
                <option value="C-SE - EC Senior" selected>C-SE - EC Senior</option>
                <option value="C-SS - EC Semi Senior">C-SS - EC Semi Senior</option>
                <option value="C-JU - EC Junior">C-JU - EC Junior</option>
                <option value="C-JC - EC Junior en Capacitacion">C-JC - EC Junior en Capacitacion</option>
              </select>
            <td> <input type="date" name="startDate" value="{{ datos_tutores.startDate }}" class="form-control" required> </td>
            <td> <input type="date" name="endDate" value="{{ datos_tutores.endDate }}" class="form-control" required> </td>
            <td> <input name="adjustment" value="{{ datos_tutores.adjustment }}" class="form-control" required> </td>
          </tr>
        </tbody>
      </table>    
      <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
    </div>
</form>

{% endblock %}
