{% extends 'partials/layout.html' %}
{% block body %}

<h2>Editar Preogresion de Usuario</h2>
<br>
<form action="" method="POST">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Legajo</th>
                    <th>Nombre EC</th>
                    <th>Categoría</th>
                    <th>Ajuste</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ datos_usuarioConProgresiones.employeeNumber }}</td>
                    <td> <input type="text" name="fullName" value="{{ datos_usuarioConProgresiones.fullName }}" class="form-control" required> </td>
                    <td>
                        <select name="category" class="form-control"required>
                            <option value="C-SE - EC Senior" selected>C-SE - EC Senior</option>
                            <option value="C-SS - EC Semi Senior">C-SS - EC Semi Senior</option>
                            <option value="C-JU - EC Junior">C-JU - EC Junior</option>
                            <option value="C-JC - EC Junior ">C-JC - EC Junior </option>
                            <option value="C-JC - EC Junior en Capacitacion">C-JC - EC Junior en Capacitacion</option>
                        </select>
                    </td>
                    <td> <input name="adjustment" value="{{ datos_usuarioConProgresiones.adjustment }}" class="form-control" required> </td> </td>
                </tr>
            </tbody>
        </table>        
    </div>
    <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
</form>

{% endblock %}
