{% extends 'partials/layout.html' %}
{% block body %}

<h2>Agregar Licencia Especial</h2>
<br>
<form action="{{ url_for('agregar_licencia') }}" method="POST">    
    <div class="table-responsive">
      {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
      {% endif %}
      <h2>Agregar Licencia Especial</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre completo</th>
            <th>Descripcion de licencia</th>
            <th>Inicio de licencia</th>
            <th>Fin de Licencia</th>
            <th>Cantidad dias de Licencia</th>
            <th>Ajuste de Licencia (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <input type="number" name="employeeNumber" class="form-control"  placeholder="1111" required> </td>
            <td> <input type="text" name="fullName" class="form-control" placeholder="Nombre Apellido" required> </td>
            <td> <input type="text" name="license" class="form-control" placeholder="Descripcion" required> </td>
            <td> <input type="date" name="licenseStar" class="form-control" placeholder="01-01-2023" required> </td>
            <td> <input type="date" name="licenseEnd" class="form-control" placeholder="02-01-2023" required> </td>
            <td> <input type="number" name="licenseDays" class="form-control" placeholder="1" required> </td>
            <td> <input type="number" name="adjustment" class="form-control" required step="0.01" placeholder="Ej: 0.01"> </td>
          </tr>
        </tbody>
      </table>    
      <button id="agregar-meta-btn" type="submit" class="btn btn-outline-primary">Agregar Meta</button>
    </div>
</form>

{% endblock %}
