{% extends 'partials/layout.html' %}

{% block body %}
<form action="{{ url_for('agregar_progresion') }}" method="POST">
  <div class="table-responsive">
    {% if error_message %}
      <p class="text-danger">{{ error_message }}</p>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th>Categoría</th>
          <th>Mes 1</th>
          <th>Mes 2</th>
          <th>Mes 3</th>
          <th>Mes 4</th>
          <th>Mes 5</th>
          <th>Mes 6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select name="categoria" required>
              <option value="C-SE - EC Senior" selected>C-SE - EC Senior</option>
              <option value="C-SS - EC Semi Senior">C-SS - EC Semi Senior</option>
              <option value="C-JU - EC Junior">C-JU - EC Junior</option>
              <option value="C-JC - EC Junior en Capacitacion">C-JC - EC Junior en Capacitacion</option>
            </select>
          </td>
          <td> <input type="number" name="mes_1" step="0.01" required> </td>
          <td> <input type="number" name="mes_2" step="0.01" required> </td>
          <td> <input type="number" name="mes_3" step="0.01" required> </td>
          <td> <input type="number" name="mes_4" step="0.01" required> </td>
          <td> <input type="number" name="mes_5" step="0.01" required> </td>
          <td> <input type="number" name="mes_6" step="0.01" required> </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-outline-primary">Agregar Progresión</button>
  </div>
</form>

{% endblock %}
