{% extends 'partials/layout.html' %}
{% block body %}

<h2>Agregar Nuevo Usuario</h2>
<br>
<form action="{{ url_for('agregar_usuario_con_progresion') }}" method="POST">
  <div class="table-responsive">
    {% if error_message %}
      <p class="text-danger">{{ error_message }}</p>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th>Legajo</th>
          <th>Nombre EC</th>
          <th>Categoría</th>
          <th>Ajuste</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <input type="number" name="employeeNumber" class="form-control" required> </td>
          <td> <input type="text" name="fullName" class="form-control" required> </td>
          <td>
            <select name="category" class="form-control" required>
              <option value="C-SE - EC Senior">C-SE - EC Senior</option>
              <option value="C-SS - EC Semi Senior">C-SS - EC Semi Senior</option>
              <option value="C-JU - EC Junior">C-JU - EC Junior</option>
              <option value="C-JC - EC Junior en Capacitacion">C-JC - EC Junior en Capacitacion</option>
            </select>
          </td>
          <td> <input name="adjustment" class="form-control" placeholder="0.10" required> </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-outline-primary">Agregar Nuevo Usuario</button>
  </div>
</form>

{% endblock %}
