{% extends 'partials/layout.html' %}
{% block body %}

<br>
<h1>Licencias</h1>
<hr>
<div class="table-responsive" style="height: 60vh;">
  <table class="table table-bordered border-primary table-hover table-striped table-light">
    <thead class="table-dark">
      <tr>
        <th class="sticky-top text-nowrap">Legajo</th>
        <th class="sticky-top text-nowrap">Nombre EC</th>
        <th class="sticky-top text-nowrap">Descripcion</th>
        <th class="sticky-top text-nowrap">desde</th>
        <th class="sticky-top text-nowrap">hasta</th>
        <th class="sticky-top text-nowrap">Cant. Días Filtro</th>
        <th class="sticky-top text-nowrap">Cant. Días Licenc.</th>
      </tr>
    </thead>
    <tbody>
      {% for user in licencias %}
      <tr>
        <td class="text-nowrap">{{ user.employeeNumber }}</td>
        <td class="text-nowrap">{{ user.fullName }}</td>
        <td class="text-nowrap">{{ user.descriptions }}</td>
        <td class="text-nowrap">{{ user.startDay }}</td>
        <td class="text-nowrap">{{ user.endDay }}</td>
        <td class="text-nowrap">{{ user.filterDays }}</td>
        <td class="text-nowrap">{{ user.licenseDays }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p><b>Número total de registros: {{ licencias|length }}</p>

{% endblock %}
