{% extends 'partials/layout.html' %}
{% block body %}

<br>
<h1>Nomina</h1>
<hr>
<div class="table-responsive" style="height: 55vh;">
  <table class="table table-bordered border-primary table-hover table-striped table-light">
    <thead class="table-dark">
      <tr>
        <th class="sticky-top text-nowrap">Legajo</th>
        <th class="sticky-top text-nowrap">Nombre Ejecutivo</th>
        <th class="sticky-top text-nowrap">Sucursal</th>
        <th class="sticky-top text-nowrap">Categoria</th>
        <th class="sticky-top text-nowrap">Meta Q</th>
        <th class="sticky-top text-nowrap">Meta $</th>
        <th class="sticky-top text-nowrap">Descripción de Licencias</th>
        <th class="sticky-top text-nowrap">Dias Licencencia</th>
        <th class="sticky-top text-nowrap">Licencias Especiales</th>
        <th class="sticky-top text-nowrap">Dias Licencias Especiales</th>
        <th class="sticky-top text-nowrap">Es Tutor</th>
        <th class="sticky-top text-nowrap">Tiene Progresion</th>
        <th class="sticky-top text-nowrap">Ajuste Q, 1° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Q, 2° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Monto, 1° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Monto, 2° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Total Q</th>
        <th class="sticky-top text-nowrap">Ajuste Total $</th>
        <th class="sticky-top text-nowrap">Observaciones</th>
        <th class="sticky-top text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in nomina %}
      <tr>
        <td class="text-nowrap">{{ user.employeeNumber }}</td>
        <td class="text-nowrap">{{ user.fullName }}</td>
        <td class="text-nowrap">{{ user.branch }}</td>
        <td class="text-nowrap">{{ user.category }}</td>
        <td class="text-nowrap">{{ user.metas_q }}</td>
        <td class="text-nowrap">$ {{ user.metas_monto }}</td>
        <td class="text-nowrap">{{ user.descripcion_licencias }}</td>
        <td class="text-nowrap">{{ user.dias_licencias }}</td>
        <td class="text-nowrap">{{ user.licencias_especiales }}</td>
        <td class="text-nowrap">{{ user.dias_licencias_especiales }}</td>
        <td class="text-nowrap">{{ user.es_tutor }}</td>
        <td class="text-nowrap">{{ user.tiene_progresion }}</td>
        <td class="text-nowrap">{{ user.ajuste_q_mes_uno }}</td>
        <td class="text-nowrap">{{ user.ajuste_q_mes_dos }}</td>
        <td class="text-nowrap">$ {{ user.ajuste_monto_mes_uno }}</td>
        <td class="text-nowrap">$ {{ user.ajuste_monto_mes_dos }}</td>
        <td class="text-nowrap"> {{ user.ajuste_total_q }}</td>
        <td class="text-nowrap">$ {{ user.ajuste_total_monto }}</td>
        <td class="text-nowrap">{{ user.Observacion }}</td>
        <td class="text-nowrap">
          <div class="button-group">
            <a href="{{ url_for('edit_observacion', legajo=user.employeeNumber) }}" class="btn btn-outline-success" title="Editar Observacion"><i class="fa-regular fa-pen-to-square"></i></a>
            <form action="{{ url_for('delete_observacion') }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Comentario?');">
              <input type="hidden" name="employeeNumber" value="{{ user.employeeNumber }}">
              <button type="submit" class="btn btn-outline-danger" title="Eliminar Observacion"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<p><b>Número total de registros: {{ nomina|length }}</p>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <form action="{{ url_for('export_excel', jefe_zonal=jefe_zonal) }}" method="POST">
            <button type="submit" class="btn btn-outline-primary me-2">Exportar Todos los Datos</button>
          </form>
  
          <!-- <form action="{{ url_for('export_excel_azure', jefe_zonal=jefe_zonal) }}" method="POST">
            <button type="submit" class="btn btn-outline-success me-2">Exportar Datos para Azure</button>
          </form> -->
  
  
          <!-- <div class="d-flex justify-content-end">
            <form action="{{ url_for('guardar_datos') }}" method="POST">
              <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i></button>
            </form>
          </div> -->
            <form action="{{ url_for('update_datos') }}" method="POST">
              <button id="btnActualizar" type="submit" class="btn btn-primary"> Actualizar </button>
            </form>
        </div>      
      </div>
    </div>
  </div>

{% endblock %}
