{% extends 'partials/layout.html' %}

{% block body %}

<br>
<h1>Nomina</h1>
<hr>
<div class="table-responsive" style="max-height: 430px; overflow: auto;">
  <table class="table table-bordered border-primary table-hover">
    <thead class="thead-dark table-primary">
      <tr>
        <th class="sticky-top text-nowrap">Legajo</th>
        <th class="sticky-top text-nowrap">Nombre Ejecutivo</th>
        <th class="sticky-top text-nowrap">Sucursal</th>
        <th class="sticky-top text-nowrap">Categoria</th>
        <th class="sticky-top text-nowrap">Meta Q</th>
        <th class="sticky-top text-nowrap">Meta $</th>
        <th class="sticky-top text-nowrap">Descripción de Licencias</th>
        <th class="sticky-top text-nowrap">Dias Licencencia</th>
        <th class="sticky-top text-nowrap">Licencias Especiales</th>
        <th class="sticky-top text-nowrap">Dias Licencias Especiales</th>
        <th class="sticky-top text-nowrap">Es Tutor</th>
        <th class="sticky-top text-nowrap">Tiene Progresion</th>
        <th class="sticky-top text-nowrap">Ajuste Q, 1° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Q, 2° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Monto, 1° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Monto, 2° Mes</th>
        <th class="sticky-top text-nowrap">Ajuste Total Q</th>
        <th class="sticky-top text-nowrap">Ajuste Total $</th>
        <th class="sticky-top text-nowrap">Observaciones</th>
        <th class="sticky-top text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in nomina %}
      <tr>
        <td class="text-nowrap">{{ user.employeeNumber }}</td>
        <td class="text-nowrap">{{ user.fullName }}</td>
        <td class="text-nowrap">{{ user.branch }}</td>
        <td class="text-nowrap">{{ user.category }}</td>
        <td class="text-nowrap">{{ get_meta_q(user.category) }}</td>
        <td class="text-nowrap">$ {{ get_meta_monto(user.category) }}</td>
        <td class="text-nowrap">{{ descripcion_licencias(user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ cantidad_licencias(user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ has_special_licence(user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ has_special_licences_days(user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ is_tutor(user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ has_progresiones(user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ ajuste_meta_q_mes_uno(user.category, user.employeeNumber)/2 }}</td>
        <td class="text-nowrap">{{ ajuste_meta_q_mes_dos(user.category, user.employeeNumber)/2 }}</td>
        <td class="text-nowrap">$ {{ ajuste_meta_monto_m1(user.category, user.employeeNumber)/2 }}</td>
        <td class="text-nowrap">$ {{ ajuste_meta_monto_m2(user.category, user.employeeNumber)/2 }}</td>
        <td class="text-nowrap"> {{ ajuste_total_q(user.category, user.employeeNumber) }}</td>
        <td class="text-nowrap">$ {{ ajuste_total_monto(user.category, user.employeeNumber) }}</td>
        <td class="text-nowrap">{{ user.Observations }}</td>
        <td class="text-nowrap">
          <div class="button-group">
            <a href="{{ url_for('edit_observacion', legajo=user.employeeNumber) }}" class="btn btn-outline-success" title="Editar Observacion"><i class="fa-regular fa-pen-to-square"></i></a>
            <form action="{{ url_for('delete_observacion') }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Comentario?');">
              <input type="hidden" name="legajo" value="{{ user.employeeNumber }}">
              <button type="submit" class="btn btn-outline-danger" title="Eliminar Observacion"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p><b>Número total de registros: {{ nomina|length }}</p>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <form action="{{ url_for('export_excel', jefe_zonal=jefe_zonal) }}" method="POST">
          <button type="submit" class="btn btn-outline-primary me-2">Exportar Datos</button>
        </form>
        <button class="btn btn-outline-secondary" onclick="history.back()" title="Atras"><i class="fa-solid fa-arrow-rotate-left"></i></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
