{% extends 'partials/layout.html' %}

{% block body %}
<form action="/nomina" method="POST">
  <div class="mt-3 mb-3">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control" name="user">
            <option>Seleccione usuario</option>
            <option>FAROLA AGUSTIN LUCAS</option>
            <option>ROLDAN FATIMA ELIZABETH</option>
            <option>PEREZ ESTEFANIA</option>
            <option>COHEN PATRICIO</option>
            <option>ZANUZZI FLAVIA ROMINA</option>
            <option>CASTRILLO LORENA YAEL</option>
            <option>POLESCHI MARIANELA IVANA</option>
            <option>NIEVES GISELLE</option>
            <option>MONTEAGUDO RODRIGO</option>
            <option>LEMBEYE VALERIA FERNANDA</option>
            <option>DIAZ ENRIQUE ANTONIO</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-warning">Seleccionar</button>
      </div>
    </div>
  </div>
</form>

<div class="table-responsive" style="max-height: 430px; overflow: auto;">
  <table class="table table-bordered border-primary table-hover">
    <thead class="thead-dark table-primary">
      <tr>
        <th class="sticky-top text-nowrap">legajo</th>
        <th class="sticky-top text-nowrap">Nombre EC</th>
        <th class="sticky-top text-nowrap">Mail</th>
        <th class="sticky-top text-nowrap">Sucursal</th>
        <th class="sticky-top text-nowrap">Categoria</th>
        <th class="sticky-top text-nowrap">Jefe a Cargo</th>
        <th class="sticky-top text-nowrap">meta Q Mes 1</th>
        <th class="sticky-top text-nowrap">meta Q Mes 2</th>
        <th class="sticky-top text-nowrap">Meta $ mes 1</th>
        <th class="sticky-top text-nowrap">Meta $ mes 2</th>
        <th class="sticky-top text-nowrap">Descripción Licencias</th>
        <th class="sticky-top text-nowrap">Cant Dias Licenc</th>
        <th class="sticky-top text-nowrap">Licencias Especiales</th>
        <th class="sticky-top text-nowrap">Cant Dias Lice. Esp.</th>
        <th class="sticky-top text-nowrap">es tutor</th>
        <th class="sticky-top text-nowrap">Tiene Progresion</th>
        <th class="sticky-top text-nowrap">Ajuste Q mes 1</th>
        <th class="sticky-top text-nowrap">Ajuste Q mes 2</th>
        <th class="sticky-top text-nowrap">Ajuste Monto mes 1</th>
        <th class="sticky-top text-nowrap">Ajuste Monto mes 2</th>
        <th class="sticky-top text-nowrap">Observaciones</th>
        <th class="sticky-top text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in nomina %}
      <tr>
        <td class="text-nowrap">{{ user.legajo }}</td>
        <td class="text-nowrap">{{ user.Nombre_de_EC }}</td>
        <td class="text-nowrap">{{ user.mail }}</td>
        <td class="text-nowrap">{{ user.Sucursal }}</td>
        <td class="text-nowrap">{{ user.Categoria }}</td>
        <td class="text-nowrap">{{ user.jefe_a_cargo }}</td>
        <td class="text-nowrap">{{ get_meta_q(user.Categoria) / 2 }}</td>
        <td class="text-nowrap">{{ get_meta_q(user.Categoria) / 2 }}</td>
        <td class="text-nowrap">$ {{ get_meta_monto(user.Categoria) / 2 }}</td>
        <td class="text-nowrap">$ {{ get_meta_monto(user.Categoria) / 2 }}</td>
        <td class="text-nowrap">{{ user.Descripcion_Licencias }}</td>
        <td class="text-nowrap">{{ user.Cant_Dias_Licencia }}</td>
        <td class="text-nowrap">{{ has_special_licence(user.legajo) }}</td>
        <td class="text-nowrap">{{ has_special_licences_days(user.legajo) }}</td>
        <td class="text-nowrap">{{ is_tutor(user.legajo) }}</td>
        <td class="text-nowrap">{{ has_progresiones(user.legajo) }}</td>
        <td class="text-nowrap">{{ ajuste_meta_q(user.Categoria, user.legajo)/2 }}</td>
        <td class="text-nowrap">{{ ajuste_meta_q(user.Categoria, user.legajo)/2 }}</td>
        <td class="text-nowrap">$ {{ ajuste_meta_monto(user.Categoria, user.legajo)/2 }}</td>
        <td class="text-nowrap">$ {{ ajuste_meta_monto(user.Categoria, user.legajo)/2 }}</td>
        <td class="text-nowrap">{{ user.Observaciones }}</td>
        <td class="text-nowrap">
          <div class="button-group">
            <a href="{{ url_for('edit_observacion', legajo=user.legajo) }}" class="btn btn-outline-success" title="Editar Observacion"><i class="fa-regular fa-pen-to-square"></i></a>
            <form action="{{ url_for('delete_observacion') }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Comentario?');">
              <input type="hidden" name="legajo" value="{{ user.legajo }}">
              <button type="submit" class="btn btn-outline-danger" title="Eliminar Observacion"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p><b>Número total de registros: {{ nomina|length }}</p>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">
        <form action="{{ url_for('export_excel', jefe_zonal=jefe_zonal) }}" method="POST">
          <button type="submit" class="btn btn-outline-primary me-2">Exportar Datos</button>
        </form>
        <button class="btn btn-outline-secondary" onclick="history.back()">Volver atrás</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
