{% extends 'partials/layout.html' %}

{% block body %}
<div class="container">
  <h3 style="text-decoration: underline;">Progresiones</h3>
  <p>* No agregar dos categorias con el mismo Nombre</p>
</div>

<div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Mes 1</th>
        <th>Mes 2</th>
        <th>Mes 3</th>
        <th>Mes 4</th>
        <th>Mes 5</th>
        <th>Mes 6</th>
      </tr>
    </thead>
    <tbody>
      {% for progresion in progresiones %}
      <tr>
        <td class="text-nowrap">{{ progresion.categoria }}</td>
        <td class="text-nowrap">{{ progresion.mes_1 }}</td>
        <td class="text-nowrap">{{ progresion.mes_2 }}</td>
        <td class="text-nowrap">{{ progresion.mes_3 }}</td>
        <td class="text-nowrap">{{ progresion.mes_4 }}</td>
        <td class="text-nowrap">{{ progresion.mes_5 }}</td>
        <td class="text-nowrap">{{ progresion.mes_6 }}</td>
        <td>
          <div class="button-group">
            <a href="{{ url_for('editar_progresion', categoria=progresion.categoria) }}" class="btn btn-outline-success">Editar</a>
            <form action="{{ url_for('eliminar_progresion', categoria=progresion.categoria) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta progresión {{ progresion.categoria }}?');">
              <button type="submit" class="btn btn-outline-danger">Eliminar</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">
        <a href="{{ url_for('agregar_progresion') }}" class="btn btn-outline-primary  me-2">Agregar Progresiones</a>
        <button class="btn btn-outline-secondary" onclick="history.back()">Volver atrás</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

