{% extends 'partials/layout.html' %}
{% block body %}

<br>
<h1>Progresiones</h1>
<hr>
<div class="table-responsive" style="max-height: 450px; overflow-y: auto;">
  <table class="table table-bordered border-primary table-hover table-striped table-light">
    <thead class="table-dark">
      <tr>
        <th>Categoría</th>
        <th>Mes 1</th>
        <th>Mes 2</th>
        <th>Mes 3</th>
        <th>Mes 4</th>
        <th>Mes 5</th>
        <th>Mes 6</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for progresion in progresiones %}
      <tr>
        <td class="text-nowrap">{{ progresion.category }}</td>
        <td class="text-nowrap">{{ progresion.month_1 }}</td>
        <td class="text-nowrap">{{ progresion.month_2 }}</td>
        <td class="text-nowrap">{{ progresion.month_3 }}</td>
        <td class="text-nowrap">{{ progresion.month_4 }}</td>
        <td class="text-nowrap">{{ progresion.month_5 }}</td>
        <td class="text-nowrap">{{ progresion.month_6 }}</td>
        <td>
          <div class="button-group">
            <a href="{{ url_for('editar_progresion', categoria=progresion.category) }}" class="btn btn-outline-success" title="Editar Observacion"><i class="fa-regular fa-pen-to-square"></i></a>
            <form action="{{ url_for('eliminar_progresion', categoria=progresion.category) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta progresión {{ progresion.categoria }}?');">
              <button type="submit" class="btn btn-outline-danger" title="Eliminar Observacion"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <a href="{{ url_for('agregar_progresion') }}" class="btn btn-outline-primary  me-2" title="Agregar Progresion"><i class="fa-solid fa-plus"></i>  Agregar Progresiones</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
