{% extends 'partials/layout.html' %}

{% block body %}

<div class="container">
    <h3 style="text-decoration: underline;">Tutores</h3>
</div>
<div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
    <table class="table">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Categoria</th>
            <th>Mes Inicio Tutoria</th>
            <th>Mes Fin Tutoria</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td class="text-nowrap">{{ usuario.legajo }}</td>
            <td class="text-nowrap">{{ usuario.nombre }}</td>
            <td class="text-nowrap">{{ usuario.apellido }}</td>
            <td class="text-nowrap">{{ usuario.categoria }}</td>
            <td class="text-nowrap">{{ usuario.fecha_inicio_tutoria }}</td>
            <td class="text-nowrap">{{ usuario.fecha_fin_tutoria }}</td>
            <td>
              <div class="button-group">
                <a href="{{ url_for('editar_tutores', legajo=usuario.legajo, datos=usuario) }}" class="btn btn-outline-success" title="Editar Observacion"><i class="fa-regular fa-pen-to-square"></i></a>
                <form action="{{ url_for('eliminar_tutores', legajo=usuario.legajo) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar al Tutor {{ usuario.nombre }} {{ usuario.apellido }}?');">
                  <button type="submit" class="btn btn-outline-danger" title="Eliminar Observacion"><i class="fa-solid fa-trash"></i></button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <a href="{{ url_for('agregar_tutor') }}" class="btn btn-outline-primary me-2" title="Agregar Tutor"><i class="fa-solid fa-plus"></i></a>
        <button class="btn btn-outline-secondary" onclick="history.back()" title="Atras"><i class="fa-solid fa-arrow-rotate-left"></i></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
